#logo {
    height: 180px;
}

#productImage {
    height: 400px;
}

#submitBtn, #resetBtn {
    font-size: 14px;
    background-color: aqua;
    padding: 5px 20px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
}

.orderForm th, td{
    padding: 10px;
}

.orderForm th {
    text-align: left;
}

.fa-solid  {
    color: gold;
}