#logo {
    height: 180px;
    width: 80%;
}

.product {
    display: flex;
    gap: 50px;
}

#productImage {
    height: 400px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.prodDetails {
    font-size: 18px;
}

#submitBtn, #resetBtn {
    font-size: 14px;
    background-color: aqua;
    padding: 5px 20px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
}

.orderForm th, td{
    padding: 10px;
}

.orderForm th {
    text-align: left;
}

.fa-solid  {
    color: gold;
}

.retPol {
    font-size: 18px;
    width: 60%;
}

footer {
    background-color: bisque;
    padding: 5px 10px;
}