#logo {
    height: 180px;
    width: 80%;
}

.product {
    display: flex;
    gap: 50px;
}

#productImage {
    height: 400px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.prodDetails {
    font-size: 18px;
}

.placeOrder {
    color: rgb(20, 126, 38);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#submitBtn, #resetBtn, #subscribeBtn {
    font-size: 14px;
    background-color: rgb(133, 238, 238);
    padding: 5px 20px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 10px;
}

.orderForm {
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 5px;
}

.orderForm th, td{
    padding: 5px;
}

.orderForm th {
    text-align: left;
}

.fa-solid  {
    color: gold;
}

.retPolicy {
    font-size: 18px;
    width: 80%;
}

footer {
    background-color: bisque;
    padding: 5px 10px;
}

footer h4 {
    color: rgb(212, 93, 132);
}

.footerSection {
    display: flex;
    gap: 90px;
}

.newsletter {
    width: 20%;
}

#email {
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid gray;
}